################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/openglclevel-server/openglclevel-server-models/bin/Debug/net7.0
/openglclevel-server/openglclevel-server-models/obj/Debug/net7.0/ref
/openglclevel-server/openglclevel-server-models/obj/Debug/net7.0/refint
/openglclevel-server/openglclevel-server-infrastructure/bin/Debug/net7.0
/openglclevel-server/openglclevel-server-infrastructure/obj/Debug/net7.0/ref
/openglclevel-server/openglclevel-server-infrastructure/obj/Debug/net7.0/refint
/openglclevel-server/openglclevel-server-data/bin/Debug/net7.0
/openglclevel-server/openglclevel-server-backend/obj/Debug/net7.0
/openglclevel-server/openglclevel-server-backend/bin/Debug/net7.0
/openglclevel-server/openglclevel-server-security/bin/Debug/net7.0
/openglclevel-server/openglclevel-server-security/obj/Debug/net7.0
/openglclevel-server/openglclevel-server-data/obj/Release/net7.0/ref
/openglclevel-server/openglclevel-server-data/obj/Release/net7.0/refint
/openglclevel-server/openglclevel-server-security/bin/Release/net7.0
/openglclevel-server/openglclevel-server-security/obj/Release/net7.0
/openglclevel-server/openglclevel-server-models/obj/Release/net7.0
/openglclevel-server/openglclevel-server-models/bin/Release/net7.0
/openglclevel-server/openglclevel-server-infrastructure/obj/Release/net7.0
/openglclevel-server/openglclevel-server-infrastructure/bin/Release/net7.0
/openglclevel-server/openglclevel-server-data/obj/Release/net7.0
/openglclevel-server/openglclevel-server-data/bin/Release/net7.0
/openglclevel-server/openglclevel-server-api/.config
/openglclevel-server/openglclevel-server-backend/bin/Release/net7.0
/openglclevel-server/openglclevel-server-backend/obj/Release/net7.0
/openglclevel-server/openglclevel-server-data/obj/Debug/net7.0/ref
/openglclevel-server/openglclevel-server-data/obj/Debug/net7.0/refint
/openglclevel-server/openglclevel-server-api/obj/Release/net7.0
/openglclevel-server/openglclevel-server-api/bin/Debug/net7.0/runtimes
/openglclevel-server/openglclevel-server-api/bin/Release/net7.0
